@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(152, 193, 240);
}

.wrapper {
    background: #fff;
    padding: 25px 25px 15px 25px;
    border-radius: 15px;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.15);
    max-width: 475px;
    width: 100%;
}

.input-box {
    border-bottom: 1px solid #e6e6e6;
    padding-top: 10px;
}

.input-box .tweet-area {
    position: relative;
    min-height: 130px;
    max-height: 170px;
    overflow-y: auto;
}

.tweet-area::-webkit-scrollbar {
    width: 0px;
}

.tweet-area .placeholder {
    position: absolute;
    margin-top: -3px;
    font-size: 22px;
    color: #98a5b1;
    pointer-events: none;
}

.tweet-area .input {
    outline: none;
    font-size: 17px;
    word-wrap: break-word;
    word-break: break-all;
}

.tweet-area .editable {
    position: relative;
    z-index: 5;
}

.tweet-area .readonly {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: transparent;
    color: transparent;
}

.readonly .highlight {
    background: #fd9bb0;
}

.input-box .privacy {
    color: #1da1f2;
    margin: 15px 0;
    padding: 7px 10px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.2s ease;
}

.input-box .privacy:hover, .icons li:hover {
    background: #e7f5fe;
}

.privacy i {
    font-size: 18px;
}

.privacy span {
    margin-left: 7px;
    font-size: 15px;
    font-weight: 600;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 13px;
}

.bottom .icons {
    display: inline-flex;
}

.icons li {
    list-style: none;
    color: #1da1f2;
    height: 38px;
    width: 38px;
    margin: 0 2px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.bottom .content {
    display: flex;
    align-items: center;
}

.content .counter {
    display: none;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #aab8c2;
    color: #333;
}

.content button {
    padding: 9px 18px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #1da1f2;
    cursor: pointer;
    opacity: 0.7;
    pointer-events: none;
}

.content button:hover {
    box-shadow: 1px 2px 6px rgba(0,0,0,0.20);
}

.content button.active {
    opacity: 1;
    pointer-events: auto;
}