@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(152, 193, 240);
}

.wrapper {
    background: #fff;
    padding: 25px 25px 15px 25px;
    border-radius: 15px;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.15);
    max-width: 475px;
    width: 100%;
}

.input-box {
    border-bottom: 1px solid #e6e6e6;
    padding-top: 10px;
}

.input-box .tweet-area {
    position: relative;
    min-height: 130px;
}

.tweet-area .placeholder {
    position: absolute;
    margin-top: -3px;
    font-size: 22px;
    color: #98a5b1;
    pointer-events: none;
}

.tweet-area .input {
    outline: none;
    font-size: 17px;
    word-wrap: break-word;
}

.tweet-area .readonly {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.input-box .privacy {
    color: #1da1f2;
    margin: 15px 0;
    padding: 7px 10px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.2s ease;
}

.input-box .privacy:hover {
    background: #e7f5fe;
}

.privacy i {
    font-size: 18px;
}

.privacy span {
    margin-left: 7px;
    font-size: 15px;
    font-weight: 600;
}